/* Author: Zac Lou, Admin No.:261097H */
.mission {
    font-weight: bold;
    font-size: 1.25vw;
    font-family: Arial, Helvetica;
    margin: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid red;
    background: linear-gradient(
        lavender, darkorange
    );
    box-shadow: inset 0 0 10px gold;
}
.vision {
    font-weight: bold;
    font-size: 1.25vw;
    font-family: Arial, Helvetica;
    margin: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid red;
    background: linear-gradient(
        crimson, violet
    );
    box-shadow: inset 0 0 10px silver;
}
.image {
    margin: auto;
    box-shadow: 10px 0 10px #000000;
}

