dt {
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    margin: 3px;
    border: 2px solid darkblue;
    color: aliceblue;
    background: linear-gradient(
darkorange, yellow);;
}

dd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 5px;
    border: 0.5px solid darkblue;
    color:orangered;
    background: linear-gradient(
        lightblue, greenyellow
    );
}