/* Author: Zac Lou, Admin No.:261097H */
.info {
    font-weight: bold;
    font-size: 1.25vw;
    font-family: Arial, Helvetica;
    margin: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid red;
    background: linear-gradient(
        lavender, darkorange
    );
}
.image {
    margin: auto;
    
}

