/* Author: Zac Lou, Admin No.:261097H */
dt {
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    margin: 3px;
    border: 2px solid goldenrod;
    color: red;
    background: linear-gradient(
rgba(255, 255, 0, 0.799), brown);;
}

dd{
    font-family: Roboto, sans-serif;
    padding: 10px;
    margin: 5px;
    border: 0.5px solid darkblue;
    color: DarkSlateGray;
    background: linear-gradient(
        blanchedalmond, aliceblue
    );
}
.heading{
    color: black;
    text-decoration: underline;
}