/* Author: Lou Jinheng Zac, Admin No.: 261097H */
h1.title {
   font-family: sans-serif;
   padding: 20px;
   margin: 10px;
   border: 3px solid orangered;
   color: black;
   background: linear-gradient(
    magenta, beige
   )
}
h2.qna {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 20px;
    border: 1px solid purple;
    background-color: aliceblue;
    color: chocolate;
}

p.answer {
    color: green;
}

h2:hover {
background-color: #ffbc0d;
}