/* By Abel Lee Yu Xiang 261364D*/
body { font-family: Arial, sans-serif;
}

p.heading {
    padding-top: 6vw;
    margin: auto;
    font-size: 6vw;
    font-weight: bold;
    margin-top: 2%;
}

.location-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 40px;
}

.location-box,
.image-box{
    width: 487px;
}

.location-box{
    border: 0px solid black;
    padding: 20px;
    background: aliceblue;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px
}

.image5{
    width: 100%;
    height: auto;
    border: 0px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px
}

.direction-button {
    display: inline-block;
    background-color: #ffc72c;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
}

.direction-button:hover {
    background-color: #ed0103
}
@media (max-width:768px){

    .location-container{
        flex-direction:column;
        align-items:center;
        margin:20px;
    }

    .location-box,
    .image-box{
        width:100%;
        max-width:500px;
    }

    .image5{
        width:100%;
        height:auto;
    }
}