/*KUNG TIAN SHUN RAYDON 261348L*/
/*General css for almost all pages===============================================================================================================================================*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);   /*the gradient will be from the center to the edges*/
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
}
p {
    color: black;
    font-family: Arial, sans-serif;  /* font will be in Arial and the start and end of a letter will not have the sans serif design*/
}
.heading {
    padding-top: 6vw;
    text-align: center;        /* makes the text centers*/
    font-size: 6vw;
    font-weight: bold;
    padding-top: 6vw;
}
/*very important to not get copyrighted==================================================================================================================*/
.important {
    position: fixed;
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
    margin: 0;
    background-color: #ed0103;
    font-size: clamp(1rem, 1.7vw, none);
    font-weight: bold;
    text-decoration: none;
    bottom: 0;
}
/*Navi bar==========================================================================================================================================================*/
nav ul { 
    font-family: Arial, sans-serif;
    position: fixed;                /*fixes the navigation bar at the top of the page*/
    display: flex;                  /*allows items to be displayed in a row at the center of the navigation bar vertically*/
    list-style-type: none;          /*list-style-type: none; makes the list items display without bullet points*/
    background-color: #ed0103;
    width: 100%;                    /*makes the navigation bar span the entire width of the page*/
    margin-top: 0;
    z-index: 1000;                     /*ensures the navigation bar is displayed above other elements*/
    gap: 5%;
    font-size: 5vw;
}
nav li a {
    text-align: center;                         /*align the text in the center of the padding*/
    padding: 0;
    color: #000000;
    text-decoration: none;                      /*removes the underline link*/
    font-weight: bold;
}                                               
nav li a:hover {                               
    background-color: #edb313;
    transition: 0.2s;               /*the time taken for the background to fully change to the new background colour*/                  
}
/*==========/
/ Home Page /========================================================================================================================================
/==========*/
/*Welcome =======================================================================================================================================*/
.welcome {
    background-image: linear-gradient(rgba(255, 32, 32, 0.5), rgba(240, 240, 240, 0.5)),
                        url(../images/mcdonald.webp);
    width: 100vw;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: center 5.4vw;
    background-size: contain;
}
.subtitle {
    text-align: center;
    font-size: 3vw;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
/*Home page contents===============================================================================================================================*/
.home {
    overflow-x: hidden;
}
h1.title {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline;         /*gives the word an underline*/
}
div.looks {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    box-shadow: 4px 4px 10px;            /*gives the border a shadow*/
    background-color: aliceblue;
}
p.style {
    font-family: 'Times New Roman', serif;
    display: inline-block;
    text-align: left;
    font-size: 2vw;
    padding: 0 1%;    
}
.apps {
    max-width: 16vw;
    height: auto;
}
.picture1 {
    width: 50%;
    object-fit: cover;
}
.picture2 {
    background-color: #ed0103;
    max-width: 45vw;
    height: auto;
    object-fit: contain;
}
.picture3 {
    max-width: 45vw;
    height: auto;
    object-fit: cover;
}
.picture4 {
    max-width: 45vw;
    height: auto;
    object-fit: cover;
}
.button {
    display: flex;
    justify-self: center;
    background-color: #ffc72c;
    color: black;
    padding: 2%;
    margin-top: 20%;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
}
/* Bottom bar for About us and Mcd Insta page============================================================================================================*/
.about {
    display: flex;
    padding-bottom: 10vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: #ed0103;
    font-weight: bold;
    font-size: 1.8vw;
    width: 100vw;
}
.about ul {
    list-style-type: none;
}
.about ul a {
    color: #000000; 
}
/*Gemini AI and W3Schools were used in the making of the home page css*/
/*==================/
/ Contact us Page /========================================================================================================================================
/==================
/ By Abel Lee Yu Xiang 261364D*/

p.heading {
    padding-top: 6vw;
    margin: 0 auto;
    font-size: 6vw;
    font-weight: bold;
    margin-top: 3.5%;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.contact-box {
    width: 70%;
    height: 90px;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px
}

.bold-text {
    font-weight: 750;
    font-family: Arial, sans-serif;
}

.direction-button {
    display: inline-block;
    background-color: #ffc72c;
    color: black;
    font-family: Arial, sans-serif;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: -3px;
    transition: 0.2s ease-in-out;
}

.location-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 20px;
    height: auto;
    min-height: 140px;
}

.direction-button:hover {
    background-color: #ed0103
}

@media screen and (max-width: 600px) {
    .contact-box {
        width: 85%;
        height: auto;
        min-height: 90px;
        padding: 15px;
        flex-wrap: wrap;
        font-size: 16px;
    }

p.heading {
        font-size: 12vw;
    }
}
/*==========/
/ Locate us Page /========================================================================================================================================
/==========
/ By Abel Lee Yu Xiang 261364D*/

p.header {
    padding-top: 6vw;
    margin: 0 auto;
    font-size: 6vw;
    font-weight: bold;
    margin-top: 2%;
}

.location-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 40px;
}

.location-box1,
.image-box{
    width: 487px;
}

.location-box1{
    border: 0px solid black;
    padding: 20px;
    background: aliceblue;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px
}

.image5{
    width: 100%;
    height: auto;
    border: 0px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px
}

.direction-button {
    display: inline-block;
    background-color: #ffc72c;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
}

.direction-button:hover {
    background-color: #ed0103
}
@media (max-width:768px){

    .location-container{
        flex-direction:column;
        align-items:center;
        margin:20px;
    }

    .location-box1,
    .image-box{
        width:100%;
        max-width:500px;
    }

    .image5{
        width:100%;
        height:auto;
    }
}
/*==========/
/ About us Pages /========================================================================================================================================
/==========
/ All done by: Author: Lou Jinheng Zac, Admin No.: 261097H
/ Company History /=========================================================================================================================================*/
dt {
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    margin: 3px;
    border: 2px solid goldenrod;
    color: black;
    background: linear-gradient(
rgba(255, 255, 0, 0.799), brown);
}


dd{
    font-family: Roboto, sans-serif;
    padding: 10px;
    margin: 5px;
    border: 0.5px solid darkblue;
    color: DarkSlateGray;
    background: linear-gradient(
        blanchedalmond, aliceblue
    );
}

/* Company Mission and Vision /=========================================================================================================================================*/
.mission {
    font-weight: bold;
    font-size: 1.25vw;
    font-family: Arial, Helvetica;
    margin: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid gold;
    background: linear-gradient(
        lavender, darkorange
    );
    box-shadow: inset 0 0 10px gold;
    text-align: center;
}
.vision {
    font-weight: bold;
    font-size: 1.25vw;
    font-family: Arial, Helvetica;
    margin: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid silver;
    background: linear-gradient(
        crimson, violet
    );
    box-shadow: inset 0 0 10px silver;
    text-align: center;
}
.image {
    margin: auto;
    background-color: black;
    outline: 3px solid black;
    box-shadow: 10px 0 10px black;
}
/* Team Information /=========================================================================================================================================*/
.TI th {
   font-family: sans-serif;
}
.TI td {
    font-family: 'Lucida Sans', sans-serif;
}
 .TI table { border-collapse: collapse; 
    text-align: center;
    position: sticky;
}
.TI th, .TI td { border: 3px solid red;
padding: 10px;}
    .TI td {
        color: brown; background-color: rgba(251, 255, 0, 0.779);
        text-align: left;
    }
    .TI th {
        background-color: rgba(189, 63, 9, 0.874);
            color: rgba(251, 255, 0, 0.594);
            text-align:center
    }
.zero {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: orange;
    background: linear-gradient(
        skyblue, cadetblue
        );
}
.table1 {
    margin-top: 7rem;
    padding: 10px;
    margin: 20px;
    border: 3px solid Black;
    color: gold;
    background: linear-gradient(
        DarkSlateGray, firebrick
        );
    text-align: center;
}

.table2 {
    padding: 10px;
    margin: 20px;
    border: 3px solid Black;
    color: turquoise;
    background: linear-gradient(
        gray, crimson
        );
    text-align: center;
}
/* Faq page /=========================================================================================================================================*/
h1.title1 {
   font-family: sans-serif;
   padding: 20px;
   margin: 10px;
   border: 3px solid orangered;
   color: darkslategray;
   background: linear-gradient(
    magenta, beige
   );
   text-decoration: none;
}
h2.qna {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 20px;
    border: 1px solid purple;
    background-color: aliceblue;
    color: chocolate;
}

p.answer {
    color: green;
}

h2.qna:hover {
background-color: #ffbc0d;
}
/*=========================================================================================================================================================================*/