/* Author KANG CHENGXI, 261185R */

@font-face {
	font-family: "McDonalds_Helvetica";
	src: url('../fonts/McDonalds_Helvetica.ttf') format('truetype');
}

.body {
    font-family: McDonalds_Helvetica;
	color: #222;
	background-color: #fff;
	margin: 0px;
}

.nav {
	height: 70px;
	min-width: 100%;
	position: fixed;
	padding: 0px;
	margin: 0px;
	z-index: 67;
}

.nav ul {
	height: 100%;
	margin: 0px;
	padding: 0px;
	gap: 1rem;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style-type: none;
	background-color: #ed0103;
}

.nav img {
	max-height: 40px;
	width: auto;
}

.nav li {
	display: flex;
	align-items: center;
	margin: 0px;
}

.nav a {
	font-size: 1.2rem;
	text-decoration: none;
	color: inherit;
	transition: 0.2s ease-in-out;
	padding: 15px;
	border-radius: 10px;
}

.txthyplnks:hover {
	background-color: #ffbc0d;
}

.main {
	min-width: 100%;
	max-width: 1000px;
	padding: 70px 0px 0px 0px;
	overflow-x: auto;
}

.header {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1,
.header a {
	margin: 2rem 3rem;
}

.button {
	margin: 0%;
	padding: 15px 25px;
	border-radius: 10px;
	background-color: #ffbc0d;
	color: #222;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}

.button:hover {
	background-color: #ffce53;
}

.table {
	width: 100%;
	padding: 0px 30px;
	border-collapse: separate;
	border-spacing: 0px 10px;
	background-color: #fff;
}

.table th,
.table td {
	padding: 10px 10px;
	text-align: center;
	vertical-align: middle;
}

.table tbody tr {
	transition: 0.2s ease-in-out;
}

.table tbody tr:hover {
	background-color: #ffbc0d;
}

.table td:first-child {
	border-radius: 10px 0px 0px 10px; /* applies border radius in order of topl topr botr botl */
}

.table td:last-child {
	border-radius: 0px 10px 10px 0px; /* rounds the left and right corners of the first and last child elements respectively */
}

.image img {
	width: 100%;
	max-width: 100px;
	height: auto;
}

.price {
	font-weight: 700;
}

@media (max-width: 520px) {

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.nav ul {
		gap: 0px;
	}

	.nav a {
		padding: 10px;
	}

	.header h1,
	.header a {
		margin: 1rem;
	}
}