/*Yue Soon Jit, Emilio, 261397X*/
html {
    font-family: Arial, sans-serif;
}
nav.top ul { 
    font-family: Arial, sans-serif;
    position: fixed;                
    display: flex;                  
    list-style-type: none;          
    background-color: #ed0103;
    width: 100%;                    
    margin-top: 0;
    z-index: 1000;                     
    gap: 5%;
    font-size: 5vw;
}
nav.top li a {
    text-align: center;                         
    padding: 0;
    color: #000000;
    text-decoration: none;                      
    font-weight: bold;
    transition: 0.2s ease-in-out;              
}                                               
nav.top li a:hover {                               
    background-color: #edb313;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #ffc72c;
}
p {
    color: black;
    font-family: Arial sans-serif;  
}
p.heading {
    margin: auto;                   
    font-size: 6vw;
    font-weight: bold;
}

/*==========/
/ Home Page /===================================================================================
/==========*/



h1.title {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline;         
}
div.looks {
    margin: auto;
    width: auto;
    height: 100%;
    display: flex;
    box-shadow: 4px 4px 10px;            
    background-color: aliceblue;
}
p.style {
    display: block;
    text-align: left;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    padding: 0 5px;
}
.picture1 {
    width: 50%;
    height: auto;
}
.picture2 {
    background-color: #ed0103;
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.apps {
    margin-top: 0;
    width: 30%;
    max-width: 200px;
    height: auto;
    margin-left: 0;
}
footer {
    display: block;
    margin-top: 20%;
    height: 100%;
    width: 100%;
    background-color: #ed0103;
    font-weight: bold;
}
button {
    background-color: #ed0103;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.form-center-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    align-self: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.thank-you-container {
    width: 100%;
    max-width: 600px;
    margin: 150px auto 0 auto;
    position: relative;
    left: -50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.thank-you-container h1 {
    color: #111111;
    font-family: Arial, Helevetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.thank-you-container p {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #ed0103;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;

    width: 100%;
    max-width: 500px;
    height: 52px;

    border: none;
    border-radius: 15px;

    margin-top: 30px auto 0 auto;
    box-sizing: border-box;
}
form button {
    width: 100%;
    max-width: 500px;
    height: 55px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ed0103;
    color: #000000;
    border: none;
}