/*Yue Soon Jit, Emilio 261397X and Kung Tian Shun Raydon 261348L*/
html {
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #ffc72c;
    box-sizing: border-box;
    margin: 0;
}
nav.top ul { 
    font-family: Arial, sans-serif;
    position: fixed;                /*fixes the navigation bar at the top of the page*/
    display: flex;                  /*allows items to be displayed in a row at the center of the navigation bar vertically*/
    list-style-type: none;          /*list-style-type: none; makes the list items display without bullet points*/
    background-color: #ed0103;
    width: 100%;                    /*makes the navigation bar span the entire width of the page*/
    margin-top: 0;
    z-index: 1000;                     /*ensures the navigation bar is displayed above other elements*/
    gap: 5%;
    font-size: 5vw;
}
nav.top li a {
    text-align: center;                         /*align the text in the center of the padding*/
    padding: 0;
    color: #000000;
    text-decoration: none;                      /*removes the underline link*/
    font-weight: bold;
    transition: 0.2s ease-in-out;               /*the time taken for the background to fully change to the new background colour*/
}                                               
nav.top li a:hover {                               
    background-color: #edb313;                   
}
p {
    color: black;
    font-family: Arial, sans-serif;  /* font will be in Arial and the start and end of a letter will not have the sans serif design*/
}
/*==========/
/ Home Page /===================================================================================
/==========*/



footer {
    display: block;
    margin-top: 20%;
    height: 100%;
    width: 100%;
    background-color: #ed0103;
    font-weight: bold;
}
button {
    background-color: #ed0103;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.form-center-wrapper {
    width: 100%;
    max-width: 500px;

    margin: 100px auto 50px auto;

    align-self: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    max-width: 600px;
    height: 100vh;

    margin: 0 auto;
    position: relative;
    left: -10px;
    gap: 15px;

    
}
.thank-you-container h1 {
    color: #000000;
    font-family: Arial, Helevetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.thank-you-container p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #ed0103;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;

    width: 100%;
    max-width: 500px;
    height: 52px;

    border: none;
    border-radius: 15px;

    margin-top: 30px auto 0 auto;
    box-sizing: border-box;
}
form button {
    width: 100%;
    max-width: 500px;
    height: 55px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ed0103;
    color: #000000;
    border: none;
}