*{margin: 0; padding: 0; box-sizing: border-box;}
body {background-color: #ffc72c;
font-family: "Arial", Times, serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;}
button, .btn {
    display: block;
    width: 250px;
    padding: 14px;
    margin: 12px 0;
    background-color: transparent;
    color: #ed0103;
    border: 2px solid #ed0103;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;}
button:hover, .btn:hover {
    background-color: #ed0103;
    color: #fff;  
}
form {
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 12px;
    margin-right: 8px;
    cursor: pointer;
}