/* Author: Zac Lou, Admin No.:261097H */
th {
    Font-weight: bold;
}
div.image1 {
    position: absolute;
    margin-bottom: 150px;
    left: 150px;
}
div.image2 {
    position: absolute;
    margin-top: 150px;
    right: 150px;
}