/* Author: Zac Lou, Admin No.:261097H */
th {
    Font-weight: bold;
}
.image1 {
    position: absolute;
    margin-bottom: 150px;
    left: 150px;
}
.image2 {
    position: absolute;
    margin-top: 150px;
    right: 150px;
}
.mission {
    background: white;
padding: 16px;
border-radius: 12px;
box-shadow: 4px 4px
10px #B9B9B9;
}