summary {
    font-weight: bold;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
details>summary {
 
  list-style: none;
}
summary::marker {
    content: none;
}

summary::after {
  content: ' ►';
}
details[open] summary:after {
  content: " ▼";
}