/* unfortunately done mostly by KUNG TIAN SHUN RAYDON 261348L*/
html {
    font-family: Arial, sans-serif;
}
#top nav ul { 
    position: fixed;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: #ed0103;
    margin: 0;
    width: 100%;
    height: 14%;
    left: 0;
    top: 0;
    z-index: 4;
} /*Display: flex; allows items to be displayed in a row at the center of the navigation bar 
    list-style-type: none; makes the list items display without bullet points 
    margin: 0; makes it so that there is no default margin
    width: 100%; makes the navigation bar span the entire width of the page
    position: fixed; fixes the navigation bar at the top of the page
    top and left: 0; positions the navigation bar at the top-left corner of the page
    z-index: 4; ensures the navigation bar is displayed above other elements */
#top nav li {
    display: inline-block;
} /*display: inline-block; allows the list items to be displayed in a row */
#top nav a {
    color: black;
    text-decoration: none;
    /*text-decoration: none; removes the default underline from links */
}
#top a.a1 {
}
#top img.image1 {
    width: 45px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#top a.a2 {
    margin-left: 200%;
    margin-right: 100%;
}
#top img.image2 {
    max-width: 45px;
    max-height: auto;
}
#top a.Locate-us {
    text-align: center;
    background-color: #ffc72c;
    padding: 10px 38px;
    border-radius: 40px;
    font-size: 2vw;
    font-weight: bold;
}
#top a.Order {
    flex-direction: row;
    text-align: center;
    background-color: #ffc72c;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 2vw;
    font-weight: bold;
}
#side nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 110px;
    background-color: #ffc72c;
    position: fixed;
    left: -25px;
    top: 0;
    height: 100%;
    z-index: 3;

}
#side li a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50% 0;
    margin-left: 25px;
    padding: 16px 8px;
    display: block;
    background-color: #ecb827;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(0.5rem 4vw 1rem);
}
#side li a:hover {
    background-color: #ed0103;
    transition: 0.5s;
}
body {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 10%;
    background: radial-gradient(rgb(245, 245, 245),rgb(229, 229, 229));
    
}
p {
    color: black;
    font-family: Arial sans-serif;
}
p.heading {
    font-size: 6vw;
    font-weight: bold;
}

/*==========/
/ Home Page /===================================================================================
/==========*/



h1.heading1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}
h1.heading2 {
    position: relative;
    left: 63%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

div.looks {
    width: auto;
    height: auto;
    display: flex;
    box-shadow: 4px 4px 10px;    
    background-color: aliceblue;
}
p.style {
    display: block;
    text-align: left;
    font-size: 1.5vw;
    padding: 2%;
}
.picture1 {
    width: 45%;
    height: 20%;
}
.picture2 {
    background-color: #ed0103;
    width: 550px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.apps {
    margin-top: 0;
    width: 30%;
    height: auto;
    margin-left: 0;
}
button {
    display: inline-block;
    position: absolute;
    margin-left: -50%;
    margin-top: 25%;
    background-color: #ffc72c;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
