/* unfortunately done only by KUNG TIAN SHUN RAYDON 261348L*/
html {
    font-family: Arial, sans-serif;
}
#top nav ul { 
    position: fixed;                /*fixes the navigation bar at the top of the page*/
    display: flex;                  /*allows items to be displayed in a row at the center of the navigation bar vertically*/
    align-items: center;            /*align item center makes all items align in the center of the nav bar*/
    list-style-type: none;          /*list-style-type: none; makes the list items display without bullet points*/
    background-color: #ed0103;
    margin: 0;                      /*makes it so that there is no default margin/padding*/
    padding: 0;
    width: 100%;                    /*makes the navigation bar span the entire width of the page*/
    height: 10%;
    min-height: 50px;               /*ensures that the % does not go over */
    max-height: 220px;
    left: 0;                        /*positions the navigation bar at the top-left corner of the page*/
    top: 0;
    z-index: 4;                     /*ensures the navigation bar is displayed above other elements*/
    justify-content: center;        /*makes all items to be diaplayed in a row at the center of the navigation bar horizonatlly*/
}
#top li a {
    transition: 0.2s ease-in-out;               /*the time taken for the background to fully change to the new background colour*/
    display: flex;
    text-align: center;                         /*align the text in the center of the padding*/
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 20px;                        /*curves the edges of the boxes border*/
    background-color: #ffc72c;
    color: #000000;
    text-decoration: none;                      /*removes the underline link*/
    font-weight: bold;
    font-size: clamp(1.1rem, 2.5vw, 4rem);      /*changes the text size base on the screen use to view, 1.1rem being the smallest words can go and 4rem being the largest*/
}                                               /*2.5vw makes the word equal to 2.5% of the screen width*/
#top li a:hover {                               /*when the mouse hovers over the word, the below happens*/
    background-color: #edb313;                   
}

#side nav ul {
    font-family: Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 5%;
    min-width: 80px;                            /*the smallest the width of the navigation bar can go is 80px*/
    background-color: #ffc72c;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;                                 /*ensures the navigation bar is displayed above other elements but not the first one*/
}
#side li a {
    display: flex;
    flex-direction: column;                     /*instead on going in a row, all tags will be followed by a column*/
    justify-content:space-between; 
    text-align: center;
    margin: 100% 0;
    padding: 20% 10%;
    background-color: #ecb827;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 2rem);
    transition: background-color 0.2s ease-in-out;
}

#side li a:hover {
    background-color: #ed0103;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 8%;
    background: radial-gradient(rgb(245, 245, 245),rgb(229, 229, 229));   /*the gradient will be from the center to the edges*/
    
}
p {
    color: black;
    font-family: Arial sans-serif;  /* font will be in Arial and the start and end of a letter will not have the sans serif design*/
}
p.heading {
    margin: auto;                   /* makes the browser automatically centers the element*/
    font-size: 6vw;
    font-weight: bold;
}

/*==========/
/ Home Page /===================================================================================
/==========*/



h1.title {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline;         /*gives the word an underline*/
}
div.looks {
    margin: auto;
    width: auto;
    height: 100%;
    display: flex;
    box-shadow: 4px 4px 10px;            /*gives the border a shadow*/
    background-color: aliceblue;
}
p.style {
    display: block;
    text-align: left;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    padding: 0 5px;
}
.picture1 {
    width: 50%;
    height: auto;
}
.picture2 {
    background-color: #ed0103;
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.apps {
    margin-top: 0;
    width: 30%;
    max-width: 200px;
    height: auto;
    margin-left: 0;
}
footer {
    display: block;
    margin-top: 20%;
    height: 100%;
    width: 100%;
    background-color: #ed0103;
    font-weight: bold;
}
button {
    background-color: #ffc72c;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
