/* unfortunately done mostly by KUNG TIAN SHUN RAYDON 261348L*/
html {
    font-family: Arial, sans-serif;
}
#top nav ul { 
    position: fixed;
    display: flex;
    list-style-type: none;
    background-color: #ed0103;
    margin: 0;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 4;
} /*Display: flex; allows items to be displayed in a row at the center of the navigation bar 
    list-style-type: none; makes the list items display without bullet points 
    margin: 0; makes it so that there is no default margin
    width: 100%; makes the navigation bar span the entire width of the page
    position: fixed; fixes the navigation bar at the top of the page
    top and left: 0; positions the navigation bar at the top-left corner of the page
    z-index: 4; ensures the navigation bar is displayed above other elements */
#top nav li {
    display: inline-block;
} /*display: inline-block; allows the list items to be displayed in a row */
#top nav a {
    color: black;
    text-decoration: none;
    /*text-decoration: none; removes the default underline from links */
}
#top a.a1 {
    margin-left: 20px;
}
#top img.image1 {
    max-width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}
#top a.a2 {
    margin-left: 250px;
    margin-right: 15px;
}
#top img.image2 {
    margin-top: 20px;
    max-width: 45px;
    max-height: 45px;
}
#top a.Locate-us {
    display: flex;
    text-align: center;
    background-color: #ffc72c;
    padding: 10px 38px;
    border-radius: 40px;
    margin-block: 15px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: bold;
}
#top a.Order {
    display: flex;
    text-align: center;
    background-color: #ffc72c;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 15px 40px;
    font-size: 30px;
    font-weight: bold;
}
#side nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 120px;
    background-color: #ffc72c;
    position: fixed;
    left: -25px;
    top: 85px;
    height: 100%;
    z-index: 3;

}
#side li a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100%;
    margin-left: 25px;
    padding: 16px 8px;
    display: block;
    background-color: #ecb827;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
#side li a:hover {
    background-color: #ed0103;
    transition: 0.5s;
}
body.main {
     background: radial-gradient(rgb(245, 245, 245),rgb(229, 229, 229))
}
p {
    position: relative;
    color: black;
    font-family: Arial sans-serif;
}
p.heading {
    display: inline-flex;
    left: 100px;
    top: 40px;
    font-size: 70px;
    font-weight: bold;
}
/*==========/
/ Home Page /===================================================================================
/==========*/

h1.heading1 {
    display: inline-flex;
    position: relative;
    left: 11%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}
h1.heading2 {
    display: inline-flex;
    position: relative;
    left: 63%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

div.looks {
    display: inline-flex;
    position: relative;
    left: 100px; 
    display: inline-flex;
    max-width: 100%;
    height: auto;
    box-shadow: 4px 4px 10px;    
    background-color: aliceblue;
}
p.style {
    display: inline-grid;
    text-align: left;
    font-size: 22px;
    bottom: 20px;
    padding-top: 48px;
    padding-inline: 15px;
}
.picture1 {
    width: 550px;
    height: auto;
}
.picture2 {
    background-color: #ed0103;
    width: 550px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.apps {
    width: auto;
    height: 120px;
    margin-left: 40px;
}
button {
    position: relative;
    left: 38%;
    bottom: 163px;
    background-color: #ffc72c;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
