*{margin: 0; padding: 0; box-sizing: border-box;}
body {background-color: #dfa837;
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;}
button, .btn {
    display: block;
    width: 250px;
    padding: 14px;
    margin: 12px 0;
    background-color: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
button:hover, .btn:hover {
    background-color: #ff0000;
    color: #fff;  
}